<!-- order-form.component.html -->
<div>
  <form (ngSubmit)="createOrderItem()">
    <label for="order">Narudzba:</label>
    <select id="order" [(ngModel)]="selectedOrder" name="order" required>
      <option *ngFor="let order of orders" [value]="order.id">
        {{ order.customer }}
      </option>
    </select>

    <label for="product">Proizvod:</label>
    <select id="product" [(ngModel)]="selectedProduct" name="product" required>
      <option *ngFor="let product of products" [value]="product.id">
        {{ product.name }}
      </option>
    </select>

    <label for="quantity">Količina:</label>
    <input
      type="number"
      id="quantity"
      [(ngModel)]="quantity"
      name="quantity"
      min="1"
      required
    />

    <button type="submit">Naruči</button>
  </form>
  <p>{{ message }}</p>
</div>
